html

head
	title Smart Parking
	script(src="/socket.io/socket.io.js")
	script(src="https://code.jquery.com/jquery-2.2.4.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css", rel="stylesheet")
	link(href="styles/main.css", rel="stylesheet")
	
body
	div.row
		div.col.s3.m3
		div.col.s6.m6 
			h1.center Parking Lot
		div.col.s3.m3
	div.container.parkingLot
		div.row
			div.col.s1.m1
			div.col.s1.m1
				div.card
					div.card-content
						span(id= 11).card-title.center ##{11}
						p.status.center Vacant
						p= _11
			div.col.s1.m1
				div.card
					div.card-content
						span(id= 13).card-title.center ##{13}
						p.status.center Vacant
						p= _13

			div.col.s1.m1
				div.card
					div.card-content
						span(id= 15).card-title.center ##{15}
						p.status.center Vacant
						p= _15

			div.col.s1.m1
				div.card
					div.card-content
						span(id= 16).card-title.center ##{16}
						p.status.center Vacant
						p= _16

	script.
		function UpdateSlot(data){
			var target = "#"+data.channel+"+p";
			if(data.value) {
				$(target).text("Filled");
				$(target).parent().parent().css("background", "Red");
			}
			else {
				$(target).text("Vacant");
				$(target).parent().parent().css("background", "Green");
			}
		}
		$(document).ready(function(){
			$("p.status").each(function(i) {
				if($(this).text() === "Vacant")
					$(this).parent().parent().css("background", "Green");
				else
					$(this).parent().parent().css("background", "Red");
			})
		});	
		var socket = io.connect('');
		socket.on('SlotChange', function(data) {
			UpdateSlot(data);
		});

